@import "tailwindcss";

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-pink-600) #e5e7eb;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-pink-600);
  border-radius: 9999px;
  border: 2px solid #e5e7eb; /* memberi jarak visual */
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-pink-700);
}

/* Active (saat diklik) */
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-pink-800);
}
